/*=============================
=            error            =
=============================*/


.error {
	label {
		display: none;
	}

	label.error__text {
		display: block;
	}
}

label.error__text {
	display: none;
	margin-bottom: 5px;
	color:$red;
}

/*=====  End of error  ======*/
