/*==============================
=            layout            =
==============================*/

.layout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;

    &.hidden {
        overflow:hidden;
    }

    &--product {
    	.container-fluid {
    		padding-right:15px;
    	}
    }

    &--product-list {
    	.container-fluid {
    		padding-left:0;
    		padding-right:15px;
    	}
    }
}


/*=====  End of layout  ======*/
