/*====================================
=            mobile-inner            =
====================================*/

.mobile-inner {
    display: none;
}

.mobile-inner__sub {
    display: none;
}

.mobile-inner__level2 .mobile-inner__list {
    display: none;
}

.mobile-inner__level2,
.mobile-inner__list,
.mobile-inner__sub {
    padding-left: 15px;
    @media screen and (max-width: 500px) {
        padding-left: 0px;
    }
}

.mobile-inner__level2-item.active .mobile-inner__title-link::after {
    transform: rotate(180deg);
}

.mobile-inner__title-link {
    position: relative;
    @include inline-block(middle);
    @include font-size(24px, 28px);
    @include cormac(extralight);
    color: $linkColor;
    padding: 5px 0px;
    padding-right: 10px;
     @media screen and (max-width: 1110px) {
         @include font-size(28px, 32px);
    }
  
    @media screen and (max-width: 500px) {
        @include font-size(20px, 24px);
        max-width: 118px;
    }
    &::after {
        content: "";
        position: absolute;
        top: 55%;
        right: 0;
        width: 6px;
        height: 4px;
        transform: translateY(-50%) rotate(0);
        transition: transform 0.3s ease-in;
        background: url("../assets/img/icons/arrow-down.png") no-repeat 0 0;
        
    }
}

.mobile-inner__link {
    @include inline-block(middle);
    @include font-size(20px,
    24px);
    color: $linkColor;
    padding: 3px 0px;
    @media screen and (max-width: 1110px) {
        @include font-size(24px, 28px);
    }
    @media screen and (max-width: 500px) {
        @include font-size(17px,
        24px);
        max-width: 165px;
    }
}

.mobile-inner__sub-link {
    @include inline-block(middle);
    @include font-size(16px,
    20px);
    color: $linkColor;
    padding: 3px 0px;
    @media screen and (max-width: 1110px) {
        @include font-size(20px, 24px);
    }
    @media screen and (max-width: 500px) {
        @include font-size(17px,
        24px);
    }
}

.mobile-inner__item.active .mobile-inner__link--lv3::after {
    transform: rotate(180deg);
}

.mobile-inner__link--lv3 {
    position: relative;
    padding-right: 10px;
    &::after {
        content: "";
        position: absolute;
        top: 55%;
        right: 0;
        width: 6px;
        height: 4px;
        transform: translateY(-50%) rotate(0);
        transition: transform 0.3s ease-in;
        background: url("../assets/img/icons/arrow-down.png") no-repeat 0 0;
    }
}


/*=====  End of mobile-inner  ======*/
