/*===============================
=            new-tag            =
===============================*/

.new-tag {
    position: absolute;
    top: -18px;
    left: 50%;
    transform: translateX(-50%);
    @include font-size(17px, 27px);
    padding: 4px 9px;
    background: #e30613;
    color: #fff;
    z-index: 1;
    @media screen and (max-width: 480px) {
        display: none;
    }
}


/*=====  End of new-tag  ======*/
