/*=================================
=            page-text            =
=================================*/

.page-text {
    padding-top: 40px;
    border-top: 1px solid #fff;
    @media screen and (max-width: 767px) {
        padding-top: 25px;
    }
}


/*=====  End of page-text  ======*/
