/*=========================================
=            production-slider           =
=========================================*/

.production-thumbnails {
    @media screen and (max-width: 1110px) {
        height: 200px;
        margin:0 auto;
        margin-bottom: 40px;
        width: 90%;

    }
    @media screen and (max-width: 600px) {
        height: 95px!important;
        width: 100%;
    }
}

.production-thumbnails .slick-list {
    padding-left: 30px !important;
    padding-right: 40px !important;
    @media screen and (max-width: 1110px) {
        padding-left: 0!important;
        padding-right: 0!important;
        padding-bottom: 40px!important;
    }
}

.production-thumbnails__item {
    height: 145px!important;
    cursor: pointer;
    @media screen and (max-width: 1110px) {
        height: 200px!important;
    }
    @media screen and (max-width: 600px) {
        height: 95px!important;
    }
}

.production-thumbnails__item__pic {
    width: 100%;
    height: 100%;
    background-size: contain!important;
    background-repeat: no-repeat!important;
    background-position: center center!important;
}

.production-thumbnails .slick-slide {
    border: 2px solid transparent;
}

.production-thumbnails .slick-slide.slick-current {
    position: relative;
    border: 2px solid #f9b000;
    transition: border 0.3s ease-in;
}

.production-thumbnails .slick-slide.slick-current::before {
    content: '';
    position: absolute;
    top: 50%;
    right: -35px;
    width: 0;
    height: 0;
    z-index: 50;
    transform: translateY(-50%);
    border-top: 20px solid transparent;
    border-left: 15px solid #f9b000;
    border-right: 20px solid transparent;
    border-bottom: 20px solid transparent;
    transition: border 0.3s ease-in;
    @media screen and (max-width: 1110px) {
        top: auto;
        bottom: -35px;
        right: auto;
        left: 50%;
        transform: translateX(-50%);
        border-top: 15px solid #f9b000;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-bottom: 20px solid transparent;
    }
}

.production-thumbnails .slick-slide {
    @media screen and (max-width: 1110px) {
        margin: 9px;
    }
   
}


/*=====  End of production-slider  ======*/
