/*===================================
=            Base Styles            =
===================================*/

html {
    font-size: 17px;
    line-height: 24px;
    box-sizing: border-box;
    height: 100%;
    outline: none;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    outline: none;
}

body {
    width: 100vw;
    height: 100vh;
    min-width: 320px;
    min-height: 100vh;
    color: #000;
    text-rendering: optimizeLegibility;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 400;
    word-wrap: break-word;
}

.page-wrapper {
    position: relative;
    flex-grow: 1;
    flex-shrink: 0;
    width: 100%;
    overflow-x: hidden;
    z-index: 1;
}



.page-content {
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
    background: $bodybg;
    &.z-index {
        z-index: -1;
    }
    @media screen and (max-width: 767px) {
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

img,
video {
    max-width: 100%;
    height: auto;
}

p,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}


/*=====  End of Base Styles  ======*/
