/*============================
=            Vars            =
============================*/


$bodybg: #f0f0f0;
$white:#fff;
$grey:#c0c0c0;
$yellow: #ffcc00;
$menuActiveColor:#ffdc4c;
$sliderArrows:#f9b000;
$red:#fa4d2b;
$btnColor:#f9b000;
$linkColor:#f9b000;
$greyborder:#f0f0f0;
$yellowborder:#ffdd55;
$inputGrey:#a3a3a3;

$btnBg:#f9b000;
$btnHover:#fcc540;
$btnActive:#efa900;
$inputBorder:#bababa;
$tableBorder:#737373;


/*=====  End of Vars  ======*/
